* {
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #bfeafd;
    height: 100vh;
}

h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: center;
}
@media (max-width: 768px) {
    .container {
        max-width: 30rem;
        justify-content: center;
    }
}

.App {
    min-height: 65vh;
    display: flex;
    place-items: center;
    justify-content: center;

}

.lightsContainer {
    place-items: center;
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: space-between;
    border: 1.5px white solid;
    padding: 1.5rem;
    border-radius: 25px;
    background: rgba(237, 237, 237, 0.548);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* width: 62vw; */
}

@media (max-width: 425px) {
    .lightsContainer {
        flex-direction: column;
    }
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controlContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
}

.btn {
    margin: 0.25rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 0.5rem;
    background-color: #ffffffad;
    border-radius: 0.25rem;
    cursor: pointer;
    height: fit-content;
    z-index: 10;
    margin-top: 1.5vh;
}

@media (max-width: 425px) {
    .btn {
        margin-top: 1vh;
    }
}

.btn:hover {
    transform: translateY(-1px);
}

.controls {
    font-size: 1.1em;
    padding-left: 1rem;
    padding-right: 1rem;
}

#reset {
    background-color: #fff4c8ad;
}

#start {
    background-color: #e2ffc8ad;
}

.lightAndSwitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 5px;
    width: 40vw;
}

@media (min-width: 320px) {
    .lightAndSwitch {
        flex-direction: column;
        align-content: space-around;
        margin-bottom: 2vh;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width: 768px) {
    .lightAndSwitch {
        width: 32vw;
    }
}

@media (min-width: 1024px) {
    .lightAndSwitch {
        width: 17vw;
    }
}

.lightBulb {
    border-radius: 50%;
    flex-grow: 1;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.055),
        rgba(194, 194, 194, 0.2) 24px,
        rgba(194, 194, 194, 0.2) 10px,
        rgba(0, 0, 0, 0.116) 20px
    );
}

.red {
    background-color: #ff1177;
    box-shadow: 0 0 0 #fff, 0 0 30px #ff1177, 0 0 0px #ff1177, 0 0 0px #ff1177, 0 0 20px #ff1177, 0 0 45px #ff1177;
}

.blue {
    background-color: #5454ff;
    box-shadow: 0 0 0 #fff, 0 0 30px #5454ff, 0 0 0px #5454ff, 0 0 0px #5454ff, 0 0 20px #5454ff, 0 0 45px #5454ff;
}

.green {
    background-color: #69ff69;
    box-shadow: 0 0 0 #fff, 0 0 30px #69ff69, 0 0 0px #69ff69, 0 0 0px #69ff69, 0 0 20px #69ff69, 0 0 45px #69ff69;
}

.lightOff {
    background-color: #ffffff00;
    box-shadow: 0 0 0 0;
}
